<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Jetbrains.Annotations" version="22.0.0.2" targetFramework="monoandroid11.0" />
  <package id="Xamarin.Kotlin.StdLib" version="1.5.31.2" targetFramework="monoandroid11.0" />
  <package id="Xamarin.Kotlin.StdLib.Common" version="1.5.31.2" targetFramework="monoandroid11.0" />
</packages>